:root {
--solarblau: #004E9E;
--schriftgrau: #686868;
--solargelb: #eda02c;
--hellgrau:  #f8f9fa;

}


body {
    color:#686868;
    background-image: url("../images/grosser_hintergrund.webp");
     background-repeat: no-repeat;
     background-position: left top;
     background-size: contain;
     font-size: 18px;
     background-size: contain;
     width: 100%;
     height: 100%;
     display: flex;
     margin: 0;
 
 }

 h1 {
    color: var(--solarblau);
   text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    color: var(--solargelb);
}
p {
    color: var(--schriftgrau);
}

a {
    text-decoration: none;
    color: var(--schriftgrau);
}

/*Login*/
.gelberbutton {
    background-color: var(--solargelb);
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 10px;
}



  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: var(--hellgrau);
    border-radius: 5%;  
    -webkit-box-shadow: 17px 10px 22px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 17px 10px 22px -8px rgba(0,0,0,0.55);
 box-shadow: 17px 10px 22px -8px rgba(0,0,0,0.55);
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-control:focus {
    border-color: var(--solargelb);
    box-shadow: 0 0 0 .25rem rgba(255, 163, 58, 0.342);
  }

/*
Admin 
*/

.offcanvas {
  background-color: var(--hellgrau);
  color: var(--schriftgrau);
}
.offcanvas h1 {
  
  color: var(--schriftgrau);
}
.offcanvas a {
  color: var(--schriftgrau);
}
.offcanvas a:hover {
  color: var(--solargelb);
}









/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}





.karte{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;

}


.front-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: all !important;
  cursor: pointer !important;
}

.front-circle:hover {
  fill: #333 !important;
}

.back-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  visiblity: hidden !important;
  pointer-events: fill;
  cursor: pointer;
  &:hover {
    fill: #333;
  }
}
.karte:hover{

  transform: rotateY(180deg);
}
.line-chart {
  min-height: 60vh;
  width: 100%;
  padding-bottom: 2rem;
}
#calendar {
  margin-top: 20px;

}
ul li {
  display: inline;


}

i {
  color: green !important;
}

.svg-icons {
  width: 90%;
  height: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.datum {
  background-color: var(--hellgrau);
  padding: 1rem;
}

@media screen and (min-width: 630px) {
  .line-chart {
   
  }
  .svg-icons {
    width: 100%;
    height: 100%;
  }
  
}
