<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="app.css" rel="stylesheet">

    <!-- Include GSAP and MotionPathPlugin from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/MotionPathPlugin.min.js"></script>

    {% block stylesheets %}
    {% endblock %}

    <style>
        .front-circle {
            position: absolute;
            width: 100%;
            height: 100%;
            /* backface-visibility: hidden; */
            pointer-events: all !important;
            cursor: pointer !important;
			transition: transform 0.6s, visibility 0.6s, opacity 0.6s;
        }

        .back-circle {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
            transform-origin: center;
            cursor: pointer;
			transition: transform 0.6s, visibility 0.6s, opacity 0.6s;
        }

        .svg-container {
            width: 1000px;
            height: 1000px;
            position: relative;
        }

        .card {
            cursor: pointer;
            position: relative;
        }

        .scene {
            display: inline-block;
        }

        .card__face {
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 260px;
            color: white;
            text-align: center;
            /* backface-visibility: hidden;
            -webkit-transform-origin: center center;
            transform-origin: center center; */
            display: block;
            width: 100%;
            height: auto;
        }

        .card__face--front {
            z-index: 2;
            display: block;
            width: 100%;
            height: auto;
        }

        .card__face--back {
            /* transform: rotateY(90deg); */
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #008CBA;
            overflow: hidden;
            width: 0;
            height: 100%;
            transition: .5s ease;
        }

        .card {
            position: relative;
            width: 50%;
            height: 300px;
            perspective: 1000px;
        }

        .card__face--front {
            /* visibility: visible;
            opacity: 1;
            transform: rotateY(0deg); */
            /* transition: opacity 0.6s ease-in-out, visibility 0s ease-in-out 0.6s, transform 0.6s ease-in-out; */
            display: block;
            width: 100%;
            height: auto;
        }

        .card__face--back {
            /* visibility: hidden;
            transform: rotateY(0deg); */
            opacity: 0;
            width: 50%;
        }

        .card.is-flipped .card__face--front {
            visibility: hidden;
            opacity: 0;
            /* transform: rotateY(0deg);
			transition: opacity 0.6s ease-in-out, visibility 0s ease-in-out 0.6s, transform 0.6s ease-in-out;	
			animation: fadeOut 0.6s forwards; */
        }

        .card.is-flipped .card__face--back {
            visibility: visible;
            opacity: 1;
            /* transform: rotateY(0deg); */
			/* animation: fadeIn 0.6s forwards; */
			/* transition: opacity 0.6s ease-in-out, visibility 0s ease-in-out, transform 0.6s ease-in-out 0.3s; */
        }

        .ball {
            fill: yellow;
            stroke: none;
            stroke-width: 1;
        }
    </style>
</head>
<body>
    <div class="container-fluid g-0">
        {% if app.user and app.user.hasRole("ROLE_ADMIN") %}
            {% include 'navigation/admin.html.twig' %}
        {% elseif app.user and app.user.hasRole("ROLE_USER") %}
            {% include 'navigation/main.html.twig' %}
        {% endif %}

        {% block nav %}{% endblock %}

        <div class="container-fluid" style="margin-top: 2rem;">
            {% block body %}{% endblock %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.card').forEach(function(card) {
                card.addEventListener('click', function() {
                    card.classList.toggle('is-flipped');
                });
            });

            // document.querySelectorAll('.card').forEach(function (card) {
            //     card.addEventListener('click', function (e) {
            //         e.preventDefault();
            //         this.classList.toggle('flipped');
            //     });
            // });

            const frontCircles = document.querySelectorAll('.front-circle');
            const backCircles = document.querySelectorAll('.back-circle');

            if (frontCircles.length !== backCircles.length) {
                console.error('Mismatched number of front and back circles.');
                return;
            }

            frontCircles.forEach((frontCircle, index) => {
                frontCircle.addEventListener('click', function () {
                    setTimeout(() => {
                        // backCircles[index].style.visibility = 'visible';
                        // frontCircle.style.visibility = 'hidden';
                    }, 500);
                });
            });

            backCircles.forEach((backCircle, index) => {
                backCircle.addEventListener('click', function() {
                    setTimeout(() => {
                        // backCircle.style.visibility = 'hidden';
                        // frontCircles[index].style.visibility = 'visible';
                    }, 500);
                });
            });

            gsap.registerPlugin(MotionPathPlugin);

            // linie-pv-netz-balls
            gsap.to(".linie-pv-netz-ball1", {
                duration: 3,
                repeat: -1,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-netz-ball2", {
                duration: 3,
                repeat: -1,
                delay: 0.2,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-netz-ball3", {
                duration: 3,
                repeat: -1,
                delay: 0.4,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-netz-ball4", {
                duration: 3,
                repeat: -1,
                delay: 1.4,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-netz-ball5", {
                duration: 3,
                repeat: -1,
                delay: 1.6,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-netz-ball6", {
                duration: 3,
                repeat: -1,
                delay: 1.8,
                motionPath: {
                    path: "#linie-pv-netz-path",
                    align: "#linie-pv-netz-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            // ends linie-pv-netz-balls
            
            // start linie-pv-bat-balls
            gsap.to(".linie-pv-bat-ball1", {
                duration: 3,
                repeat: -1,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-bat-ball2", {
                duration: 3,
                repeat: -1,
                delay: 0.2,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-bat-ball3", {
                duration: 3,
                repeat: -1,
                delay: 0.4,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-bat-ball4", {
                duration: 3,
                repeat: -1,
                delay: 1.4,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-bat-ball5", {
                duration: 3,
                repeat: -1,
                delay: 1.6,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-bat-ball6", {
                duration: 3,
                repeat: -1,
               delay: 1.8,
                motionPath: {
                    path: "#linie-pv-bat-path",
                    align: "#linie-pv-bat-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            // ends linie-pv-bat-balls

            // starts linie-pv-verbrauch-balls
            gsap.to(".linie-pv-verbrauch-ball1", {
                duration: 3,
                repeat: -1,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-verbrauch-ball2", {
                duration: 3,
                repeat: -1,
                delay: 0.2,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-verbrauch-ball3", {
                duration: 3,
                repeat: -1,
                delay: 0.4,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-verbrauch-ball4", {
                duration: 3,
                repeat: -1,
                delay: 1.4,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-verbrauch-ball5", {
                duration: 3,
                repeat: -1,
                delay: 1.6,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
            gsap.to(".linie-pv-verbrauch-ball6", {
                duration: 3,
                repeat: -1,
                delay: 1.8,
                motionPath: {
                    path: "#linie-pv-verbrauch-path",
                    align: "#linie-pv-verbrauch-path",
                    autoRotate: true,
                    alignOrigin: [0.5, 0.5]
                }
            });
        });
    </script>
</body>
</html>
